@import "colors";
@import "mediaquery";
@import "header";


.main-container {
    .hotel-images {
        width: 100%;
        position: absolute;
        top: 72px;
        box-shadow: skyblue 5px 5px 8px 4px;
    }


    @include tablet-menu {
        .hotel-images {
            margin-top: 250px;
        }

    }
}